# This allows access to @stockastix private packages hosted on github
# GITHUB_TOKEN must be set appropriately
# (Netlify will take value from environment variable)
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@stockastix:registry=https://npm.pkg.github.com/