---
import Footer from "../components/Footer.tsx";
import Header from "../components/Header.tsx";
import Main from "../components/Main.tsx";

import "@primer/react-brand/lib/css/main.css";
import "@stockastix/react-brand/lib/css/main.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="charting and backtesting" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    style={{
      height: "100vh",
      display: "flex",
      "flex-direction": "column",
    }}
  >
    <Header site={Astro.site} client:only="react" />
    <Main client:only="react">
      <slot />
    </Main>
    <Footer site={Astro.site} client:only="react" />
  </body>
</html>
